body{
    color:rgb(252, 252, 252);
    background: rgb(34, 33, 33);
margin: 0px;
}

header {
border-bottom: solid 2px rgba(82, 29, 29, 0.993);
padding: 20px;
font-size: 32px;
color: rgb(94, 19, 19);
}

section{
    background: rgb(53, 49, 49);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
margin-right: 20px;

}